<ion-header>
  <ion-toolbar>
    <ion-title> Customer detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Customer :{{classroom.first_name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>First Name:{{classroom.first_name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Last Name:{{classroom.last_name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Email:{{classroom.email}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-buttons slot="primary">
        <ion-button routerLink="/edit/{{classroom.id}}">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(classroom.id)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-card>
  

</ion-content>